@model DistributionOfStudents.Data.Models.Speciality

@{
    ViewData["Title"] = "Редактирование специальности";
}

@section Css{
    <style type="text/css">
        .animated {
            -webkit-transition: height 0.2s;
            -moz-transition: height 0.2s;
            transition: height 0.2s;
        }
    </style>
}

<h1 class="text-center">@Model.FullName</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group pt-2">
                <label asp-for="FullName" class="control-label"></label><sup>*</sup>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="row mt-2">
                <div class="form-group col-sm-4">
                    <label asp-for="ShortName" class="control-label"></label>
                    <input asp-for="ShortName" class="form-control" />
                    <span asp-validation-for="ShortName" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Code" class="control-label"></label><sup>*</sup>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="ShortCode" class="control-label"></label>
                    <input asp-for="ShortCode" class="form-control" />
                    <span asp-validation-for="ShortCode" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group col-sm-8">
                    <label asp-for="DirectionName" class="control-label"></label>
                    <input asp-for="DirectionName" class="form-control" />
                    <span asp-validation-for="DirectionName" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="DirectionCode" class="control-label"></label>
                    <input asp-for="DirectionCode" class="form-control" />
                    <span asp-validation-for="DirectionCode" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-2">
                <div class="form-group col-sm-8">
                    <label asp-for="SpecializationName" class="control-label"></label>
                    <input asp-for="SpecializationName" class="form-control" />
                    <span asp-validation-for="SpecializationName" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="SpecializationCode" class="control-label"></label>
                    <input asp-for="SpecializationCode" class="form-control" />
                    <span asp-validation-for="SpecializationCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group pt-2">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control animated"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input asp-for="Faculty.Id" type="hidden" />
            <input asp-for="Faculty.FullName" type="hidden" />
            <input asp-for="Faculty.ShortName" type="hidden" />
            <div class="col text-center pt-4">
                <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#ChangeSpecialty">
                    Сохранить
                </button>
                <button type="button" class="btn btn-outline-danger btn-lg" data-bs-toggle="modal" data-bs-target="#delete-specialty-@Model.Id">
                    Удалить
                </button>
                <a type="button" class="btn btn-outline-secondary btn-lg" asp-controller="Faculties" asp-action="Details" asp-route-name="@Model.Faculty.ShortName">Вернуться</a>
            </div>
            <div class="modal fade" id="ChangeSpecialty" tabindex="-1" aria-labelledby="ChangeSpecialty" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ChangeSpecialty">Сохранить изменения</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Перед тем как изменить данные специальности, проверьте заполнение всех ячеек описания этой специальности.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="delete-specialty-@Model.Id" aria-labelledby="delete-specialty-@Model.Id" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Удалить <b class="text-success">@Model.ShortName</b></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Вы уверенны, что хотите удалить специальность?
                                <br />
                                Специальность <b class="text-success">"@Model.FullName"</b> будет удалёна без возможности восстановления.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <a type="button" class="btn btn-outline-danger py-1" asp-controller="Specialties" asp-action="Delete" asp-route-facultyName="@Model.Faculty.ShortName" asp-route-id="@Model.Id">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.animated').autosize({ append: "\n" });
    });
</script>
@section Scripts {
    @{
        <script src="~/lib/jquery-autosize/jquery.autosize.min.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
