@model DetailsFacultyArchive

<table class="table table-bordered mb-0">
    <thead>
        <tr class="align-middle">
            <th width="130">
                Код
            </th>
            <th>
                Специальность (направление специальности)
            </th>
            <th width="75" class="text-center">
                @Html.DisplayNameFor(model => model.GroupsOfSpecialities.First().RecruitmentPlans.First().Count)
            </th>
            <th width="80" class="text-center">
                @Html.DisplayNameFor(model => model.GroupsOfSpecialities.First().Competition)
            </th>
            <th width="110" class="text-center">
                @Html.DisplayNameFor(model => model.GroupsOfSpecialities.First().RecruitmentPlans.First().PassingScore)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (DetailsGroupOfSpecialitiesVM group in Model.GroupsOfSpecialities)
        {
            int i = 0;
            foreach (RecruitmentPlan plan in group.RecruitmentPlans)
            {
                <tr class="align-middle">
                    <td>
                        @if (plan.Speciality.DirectionCode != null)
                        {
                            @Html.DisplayFor(modelItem => plan.Speciality.DirectionCode)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => plan.Speciality.Code)
                        }
                    </td>
                    <td>
                        @if (plan.Speciality.DirectionName != null)
                        {
                            @Html.DisplayFor(modelItem => plan.Speciality.DirectionName)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => plan.Speciality.FullName)
                        }
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => plan.Count)
                    </td>
                    @if (i == 0 && group.GroupOfSpecialties.Specialities != null)
                    {
                        <td class="text-center" rowspan="@group.GroupOfSpecialties.Specialities.Count">
                            @Html.DisplayFor(modelItem => group.Competition)
                        </td>
                    }
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => plan.PassingScore)
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>