@model DistributionOfStudents.ViewModels.DetailsFacultyRecruitmentPlans

<table class="table table-bordered mb-0">
    <thead>
        <tr>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.PlansForSpecialities.First().SpecialityName)
            </th>
            <th colspan="4">
                Дневная форма получения образования
            </th>
            <th colspan="4">
                Заочная форма получения образования
            </th>
            <th rowspan="2" width="85" style="text-align: center; vertical-align: middle;">
                <a type="button" class="btn btn-outline-success py-1" asp-controller="RecruitmentPlans" asp-action="Edit"
                   asp-route-facultyName="@Model.FacultyShortName" asp-route-year="@Model.Year">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </a>
                <button type="button" class="btn btn-outline-danger py-1" data-bs-toggle="modal" data-bs-target="#deletePlans">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                    </svg>
                </button>
            </th>
        </tr>
        <tr>
            <th width="85">
                @Html.DisplayNameFor(model => model.PlansForSpecialities.First().DailyFullBudget)
            </th>
            <th width="85">
                @Html.DisplayNameFor(model => model.PlansForSpecialities.First().DailyFullPaid)
            </th>
            <th width="85">
                @Html.DisplayNameFor(model => model.PlansForSpecialities.First().DailyAbbreviatedBudget)
            </th>
            <th width="85">
                @Html.DisplayNameFor(model => model.PlansForSpecialities.First().DailyAbbreviatedPaid)
            </th>
            <th width="85">
                @Html.DisplayNameFor(model => model.PlansForSpecialities.First().EveningFullBudget)
            </th>
            <th width="85">
                @Html.DisplayNameFor(model => model.PlansForSpecialities.First().EveningFullPaid)
            </th>
            <th width="85">
                @Html.DisplayNameFor(model => model.PlansForSpecialities.First().EveningAbbreviatedBudget)
            </th>
            <th width="85">
                @Html.DisplayNameFor(model => model.PlansForSpecialities.First().EveningAbbreviatedPaid)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlansForSpecialities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailyFullBudget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailyFullPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailyAbbreviatedBudget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailyAbbreviatedPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EveningFullBudget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EveningFullPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EveningAbbreviatedBudget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EveningAbbreviatedPaid)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal" id="deletePlans" aria-labelledby="deletePlans" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удалить план за <b class="text-success">@Model.Year год</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Вы уверенны, что хотите удалить план приёма?
                    <br />
                    План приёма за <b class="text-success">@Model.Year год</b> на <b class="text-success">@Model.FacultyShortName</b> будет удалён без возможности восстановления.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <a type="button" class="btn btn-outline-danger py-1" asp-controller="RecruitmentPlans" asp-action="Delete" asp-route-facultyName="@Model.FacultyShortName" asp-route-year="@Model.Year">Удалить</a>
            </div>
        </div>
    </div>
</div>