@model ConfirmDistributionVM

@{
    ViewData["Title"] = "Распределение";
}

<h1 class="text-center">
    @Model.GroupName
</h1>

<div id="content" class="ps-lg-4 pe-lg-4" style="position: relative">
    <form asp-action="ConfirmDistribution">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @for (int i = 0; i < Model.Plans.Count; i++)
        {
            <hr />
            <h4>@Model.Plans[i].SpecialityName</h4>
            <div class="card shadow">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th width="20">
                                №
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => Model.Plans[i].DistributedStudents.First().FullName)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j = 0; j < Model.Plans[i].DistributedStudents.Count; j++)
                        {
                            <tr>
                                <td>
                                    <label>@(j + 1)</label>
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.Plans[i].DistributedStudents[j].FullName)
                                    <input asp-for="@Model.Plans[i].DistributedStudents[j].FullName" type="hidden" />
                                    <input asp-for="@Model.Plans[i].DistributedStudents[j].StudentId" type="hidden" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <input asp-for="@Model.Plans[i].PlanId" type="hidden" />
            <input asp-for="@Model.Plans[i].SpecialityName" type="hidden" />
            <input asp-for="@Model.GroupName" type="hidden" />
        }
        <div class="col text-center pt-4">
            <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#ConfirmDistribution">
                Подтвердить
            </button>
            <a type="button" class="btn btn-outline-danger btn-lg" asp-controller="GroupsOfSpecialties" asp-action="Details"
               asp-route-facultyName="@ViewContext.RouteData.Values["facultyName"]" asp-route-id="@ViewContext.RouteData.Values["groupId"]">Отменить</a>
        </div>
        <div class="modal fade" id="ConfirmDistribution" tabindex="-1" aria-labelledby="ConfirmDistribution" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ConfirmDistribution">Подтвердить зачисление</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Это окончательный этап для подтверждения студентов к зачислению.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>