@model CreateDistributionVM

@{
    ViewData["Title"] = "Выбор студентов";
}

<h1 class="text-center">
    @Model.GroupName
</h1>

<div id="content" class="ps-lg-4 pe-lg-4" style="position: relative">
    <form asp-action="Create">
        @for (int i = 0; i < Model.Plans.Count; i++)
        {
            <hr />
            <h4>@Model.Plans[i].SpecialityName (Набор @Model.Plans[i].Count человек, проходной балл @Model.Plans[i].PassingScore)</h4>
            <span asp-validation-for="@Model.Plans[i]" class="text-danger"></span>
            <div class="card shadow">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th width="20">
                                №
                            </th>
                            <th>
                            </th>
                            <th style="width : 30%">
                                @Html.DisplayNameFor(model => Model.Plans[i].DistributedStudents.First().Student)
                            </th>
                            <th style="width : 30%">
                                @Html.DisplayNameFor(model => Model.Plans[i].DistributedStudents.First().StudentScores)
                            </th>
                            <th style="width : 10%">
                                @Html.DisplayNameFor(model => Model.Plans[i].DistributedStudents.First().Student.GPS)
                            </th>
                            <th style="width : 10%">
                                Сумма
                            </th>
                            <th style="width : 20%">
                                Другое
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j = 0; j < Model.Plans[i].DistributedStudents.Count; j++)
                        {
                            <tr style="vertical-align: middle;">
                                <td>
                                    <label>@(j + 1)</label>
                                </td>
                                <td>
                                    @if (Model.Plans[i].DistributedStudents[j].IsDistributed)
                                    {
                                        <input type="checkbox" asp-for="@Model.Plans[i].DistributedStudents[j].IsDistributed" checked onclick="return false;" class="form-check-input" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" asp-for="@Model.Plans[i].DistributedStudents[j].IsDistributed" class="form-check-input" />
                                    }
                                </td>
                                <td>
                                    @{
                                        Student student = Model.Plans[i].DistributedStudents[j].Student ?? new();
                                    }
                                    @if (Model.Plans[i].DistributedStudents[j].IsDistributed)
                                    {
                                        <label class="bg px-1">
                                            @student.Surname @student.Name @student.Patronymic
                                        </label>
                                    }
                                    else
                                    {
                                        <label class="bg-warning px-1 text-light">
                                            @student.Surname @student.Name @student.Patronymic
                                        </label>
                                    }
                                    <input asp-for="@Model.Plans[i].DistributedStudents[j].Student.Surname" type="hidden" />
                                    <input asp-for="@Model.Plans[i].DistributedStudents[j].Student.Name" type="hidden" />
                                    <input asp-for="@Model.Plans[i].DistributedStudents[j].Student.Patronymic" type="hidden" />
                                    <input asp-for="@Model.Plans[i].DistributedStudents[j].Student.Id" type="hidden" />
                                </td>
                                <td>
                                    @{
                                        int k = 0;
                                    }
                                    @foreach (StudentScore score in Model.Plans[i].DistributedStudents[j].StudentScores ?? new())
                                    {
                                        <p class="m-0" style="line-height: 18px;">
                                            @score.Subject.Name : @score.Score
                                        </p>
                                        <input asp-for="@Model.Plans[i].DistributedStudents[j].StudentScores[k].Subject.Name" type="hidden" />
                                        <input asp-for="@Model.Plans[i].DistributedStudents[j].StudentScores[k].Score" type="hidden" />
                                        k++;
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.Plans[i].DistributedStudents[j].Student.GPS)
                                    <input asp-for="@Model.Plans[i].DistributedStudents[j].Student.GPS" type="hidden" />
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.Plans[i].DistributedStudents[j].Score)
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <input asp-for="@Model.Plans[i].PlanId" type="hidden" />
            <input asp-for="@Model.Plans[i].SpecialityName" type="hidden" />
            <input asp-for="@Model.Plans[i].Count" type="hidden" />
            <input asp-for="@Model.Plans[i].PassingScore" type="hidden" />
            <input asp-for="@Model.GroupName" type="hidden" />
        }
        <div class="col text-center pt-4">
            <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#CreateDistribution">
                Подтвердить
            </button>
            <a type="button" class="btn btn-outline-danger btn-lg" asp-controller="GroupsOfSpecialties" asp-action="Details"
               asp-route-facultyName="@ViewContext.RouteData.Values["facultyName"]" asp-route-id="@ViewContext.RouteData.Values["groupId"]">Отменить</a>
        </div>
        <div class="modal fade" id="CreateDistribution" tabindex="-1" aria-labelledby="CreateDistribution" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CreateDistribution">Подтвердить зачисление на последнюю специальность</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Перед тем как подтвердить зачисленных студентов на последнюю специальность, проверьте количество выбранных абитуриентов.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>