@model DistributionOfStudents.ViewModels.DetailsGroupOfSpecialitiesVM

<table class="table mb-0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupOfSpecialties.Admissions.First().Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupOfSpecialties.Admissions.First().DateOfApplication)
            </th>
            <th>
                Сумма баллов
            </th>
            <th>
                Приоритет (№ спец.)
            </th>
            <th style="text-align-last: center" width="120">
                <a class="text-success ms-2" asp-controller="Admissions" asp-action="Create"
                   asp-route-groupId="@Model.GroupOfSpecialties.Id" asp-route-facultyName="@Model.FacultyShortName">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle-fill suc" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                    </svg>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GroupOfSpecialties.Admissions)
        {
            <tr>
                <td>
                    <a class="nav-link text-success p-0" asp-controller="Admissions" asp-action="Details"
                   asp-route-facultyName="@Model.FacultyShortName" asp-route-groupId="@Model.GroupOfSpecialties.Id" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Student.Surname) @Html.DisplayFor(modelItem => item.Student.Name) @Html.DisplayFor(modelItem => item.Student.Patronymic)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfApplication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @foreach (SpecialityPriority priority in item.SpecialityPriorities.Where(i => i.Priority > 0).OrderBy(i => i.Priority))
                    {
                        if (Model.RecruitmentPlans.Any(i => i == priority.RecruitmentPlan && i.EnrolledStudents.Any(i => i.Student == item.Student)))
                        {
                            if (priority.RecruitmentPlan.Count < priority.RecruitmentPlan.EnrolledStudents.Count && item.Score == priority.RecruitmentPlan.PassingScore)
                            {
                                <label class="bg-warning px-1 text-light">
                                    @(Model.RecruitmentPlans.IndexOf(priority.RecruitmentPlan) + 1)
                                </label>
                            }
                            else
                            {
                                <label class="bg-success px-1 text-light">
                                    @(Model.RecruitmentPlans.IndexOf(priority.RecruitmentPlan) + 1)
                                </label>
                            }
                        }
                        else
                        {
                            <label>
                                @(Model.RecruitmentPlans.IndexOf(priority.RecruitmentPlan) + 1)
                            </label>
                        }
                        if (priority != item.SpecialityPriorities.Where(i => i.Priority > 0).OrderBy(i => i.Priority).Last())
                        {
                            <label>
                                ->
                            </label>
                        }
                    }
                </td>
                <td style="text-align-last: center">
                    <div class="d-inline-flex">
                        <a type="button" class="btn btn-outline-success py-1" asp-controller="Admissions" asp-action="Edit"
                       asp-route-groupId="@item.GroupOfSpecialties.Id" asp-route-facultyName="@Model.FacultyShortName" asp-route-id="@item.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                        </a>
                        <button type="button" class="btn btn-outline-danger py-1" data-bs-toggle="modal" data-bs-target="#delete-admission-@item.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                            </svg>
                        </button>
                    </div>
                </td>
            </tr>
            <div class="modal" id="delete-admission-@item.Id" aria-labelledby="delete-admission-@item.Id" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Удалить заявку "<b class="text-success">@item.Student.Surname @item.Student.Name @item.Student.Patronymic</b>"</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Вы уверенны, что хотите удалить эту заявку?
                                <br />
                                Заявка абитуриента <b class="text-success">"@item.Student.Surname @item.Student.Name @item.Student.Patronymic"</b> будет удалёна без возможности восстановления.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <a type="button" class="btn btn-outline-danger py-1" asp-controller="Admissions" asp-action="Delete"
                           asp-route-groupId="@item.GroupOfSpecialties.Id" asp-route-facultyName="@Model.FacultyShortName" asp-route-id="@item.Id">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
