@model IEnumerable<RecruitmentPlan>

@foreach (RecruitmentPlan plan in Model)
{
    <h5>@(plan.Speciality.DirectionName ?? plan.Speciality.FullName)</h5>
    <div class="card shadow">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th width="20">
                        №
                    </th>
                    <th>
                        ФИО
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (Student student in (plan.EnrolledStudents ?? new()).Select(i => i.Student))
                {
                    <tr>
                        <td>
                            <label>@(i + 1)</label>
                        </td>
                        <td>
                            @Html.DisplayFor(model => student.Surname) @Html.DisplayFor(model => student.Name) @Html.DisplayFor(model => student.Patronymic)
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
    @if (plan != Model.LastOrDefault())
    {
        <hr />
    }
}