@model IEnumerable<DistributionOfStudents.Data.Models.RecruitmentPlan>

<table class="table mb-0">
    <thead>
        <tr>
            <th width="20">
                №
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speciality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassingScore)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
            <tr style="vertical-align: middle;">
                <td>
                    @i
                </td>
                <td>
                    @if (item.Speciality.DirectionName != null)
                    {
                        @Html.DisplayFor(modelItem => item.Speciality.DirectionName)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Speciality.FullName)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassingScore)
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
