@model DetailsFacultyRecruitmentPlans

@{
    ViewData["Title"] = "Редактировать план";
}
<h1 class="text-center">План приёма на @Model.Year год</h1>
<hr />
<div id="content" class="ps-lg-4 pe-lg-4" style="position: relative">
    <h4>@Model.FacultyFullName</h4>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table table-bordered mb-0">
            <thead>
                <tr>
                    <th rowspan="2">
                        @Html.DisplayNameFor(model => model.PlansForSpecialities.First().SpecialityName)
                    </th>
                    <th colspan="4">
                        Дневная форма получения образования
                    </th>
                    <th colspan="4">
                        Заочная форма получения образования
                    </th>
                </tr>
                <tr>
                    <th width="85">
                        @Html.DisplayNameFor(model => model.PlansForSpecialities.First().DailyFullBudget)
                    </th>
                    <th width="85">
                        @Html.DisplayNameFor(model => model.PlansForSpecialities.First().DailyFullPaid)
                    </th>
                    <th width="85">
                        @Html.DisplayNameFor(model => model.PlansForSpecialities.First().DailyAbbreviatedBudget)
                    </th>
                    <th width="85">
                        @Html.DisplayNameFor(model => model.PlansForSpecialities.First().DailyAbbreviatedPaid)
                    </th>
                    <th width="85">
                        @Html.DisplayNameFor(model => model.PlansForSpecialities.First().EveningFullBudget)
                    </th>
                    <th width="85">
                        @Html.DisplayNameFor(model => model.PlansForSpecialities.First().EveningFullPaid)
                    </th>
                    <th width="85">
                        @Html.DisplayNameFor(model => model.PlansForSpecialities.First().EveningAbbreviatedBudget)
                    </th>
                    <th width="85">
                        @Html.DisplayNameFor(model => model.PlansForSpecialities.First().EveningAbbreviatedPaid)
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.PlansForSpecialities.Count(); i++)
                {
                    <tr style="vertical-align: middle;">
                        <td>
                            @Html.DisplayFor(modelItem => Model.PlansForSpecialities[i].SpecialityName)
                        </td>
                        <td>
                            <input min="0" asp-for="PlansForSpecialities[i].DailyFullBudget" class="form-control" />
                        </td>
                        <td>
                            <input min="0" asp-for="PlansForSpecialities[i].DailyFullPaid" class="form-control" />
                        </td>
                        <td>
                            <input min="0" asp-for="PlansForSpecialities[i].DailyAbbreviatedBudget" class="form-control" />
                        </td>
                        <td>
                            <input min="0" asp-for="PlansForSpecialities[i].DailyAbbreviatedPaid" class="form-control" />
                        </td>
                        <td>
                            <input min="0" asp-for="PlansForSpecialities[i].EveningFullBudget" class="form-control" />
                        </td>
                        <td>
                            <input min="0" asp-for="PlansForSpecialities[i].EveningFullPaid" class="form-control" />
                        </td>
                        <td>
                            <input min="0" asp-for="PlansForSpecialities[i].EveningAbbreviatedBudget" class="form-control" />
                        </td>
                        <td>
                            <input min="0" asp-for="PlansForSpecialities[i].EveningAbbreviatedPaid" class="form-control" />
                        </td>
                    </tr>
                    <input type="hidden" asp-for="PlansForSpecialities[i].SpecialityName" />
                    <input type="hidden" asp-for="PlansForSpecialities[i].SpecialityId" />
                }
            </tbody>
        </table>
        <input type="hidden" asp-for="Year" />
        <input type="hidden" asp-for="FacultyFullName" />
        <div class="col text-center pt-4">
            <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#ChangePlans">
                Сохранить
            </button>
            <a type="button" class="btn btn-outline-secondary btn-lg" asp-controller="Faculties" asp-action="Details" asp-route-name="@ViewContext.RouteData.Values["facultyName"]">В факультет</a>
        </div>
        <div class="modal fade" id="ChangePlans" tabindex="-1" aria-labelledby="ChangePlans" style="display: none;" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ChangePlans">Сохранить изменения</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Перед тем как изменить план приёма на <b class="text-success">@Model.Year год</b>, проверьте заполнение всех ячеек плана приёма.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
