@model DetailsFacultyVM

<table class="table mb-0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupsOfSpecialties.First().GroupOfSpecialties.Name)
            </th>
            <th>
                Срок
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupsOfSpecialties.First().Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupsOfSpecialties.First().RecruitmentPlans)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (DetailsGroupOfSpecialitiesVM item in Model.GroupsOfSpecialties.Where(i => i.GroupOfSpecialties.IsCompleted))
        {
            <tr style="vertical-align: middle;">
                <td class="w-50">
                    <a class="nav-link text-success p-0" asp-controller="GroupsOfSpecialties" asp-action="Details"
                   asp-route-facultyName="@Model.Faculty.ShortName" asp-route-id="@item.GroupOfSpecialties.Id">@Html.DisplayFor(modelItem => item.GroupOfSpecialties.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupOfSpecialties.StartDate)
                    <p class="m-1"></p>
                    @Html.DisplayFor(modelItem => item.GroupOfSpecialties.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Competition)
                </td>
                <td class="w-50">
                    @foreach (var plan in item.RecruitmentPlans)
                    {
                        @if (plan.Speciality.DirectionName != null)
                        {
                            @Html.DisplayFor(modelItem => plan.Speciality.DirectionName)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => plan.Speciality.FullName)
                        }
                        <p class="m-1"></p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
